.side-bar2{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;

}
.side-bar2-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.side-bar2-link:hover{
  background-color: rgb(235, 235, 235);

}
.side-bar2-link img{
  height: 24px;
  margin-bottom: 4px;
  
}
.side-bar2-link div{
  font-family: Roboto,Arial;
  font-size: 10px;

}



